<html>
	<head>
		<title><%= it.title || 'MySQL Assignment' %></title>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body>
		<header class="header">
			<ul class="navbar">
				<li class="nav_item"><a href="/">view employees</a></li>
				<li class="nav_item"><a href="/employees/add">add employee</a></li>
				<li class="nav_item"><a href="/employees/dept_10_sal_5000">Dept 10 Sal < 5000</a></li>
				<% if(!it.loggedIn) { %>
				<li class="nav_item"><a href="/user/login">Login</a></li>
				<li class="nav_item"><a href="/user/signup">Signup</a></li>
				<% } else { %>

				<li class="nav_item"><a href="/user/profile/<%= it.username %>"><%= it.username %></a></li>
				<li class="nav_item"><a href="/user/logout">Logout</a></li>
				<% } %>
			</ul>
		</header>
		<main class="container"><%~ it.body %></main>
	</body>
</html>
